* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    
    height: 75px;
    width: 1200px;
    margin: auto;
    margin-bottom: 5%;
}


.manue {
    height: 70px;
    width: 400px;
    float: left;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 14px;
}

 ul li a {
    text-decoration: none;
    color: rgba(202, 29, 115, 0.767);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;

    display: inline-block;
    position: inherit;
    z-index: 1;
    padding: 2em;
    margin: -2em;
} 

ul li a:hover {
    color: rgb(34, 216, 73);
    background-color: #17174b;
}

.search {
    float: right;
    list-style: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 14px;
}

input [type=text] {
    padding: 2px;
    border: none;
    font-size: 15px;
    font-family: sans-serif;
}

button {
    float: right;
    background: rgb(37, 60, 134);
    color: aliceblue;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
    padding: 2px;
    font-family: sans-serif;
    border: none;
    font-size: 15px;
}


.sub-manue-4 {
    display: none;
}

.manue ul li:hover .sub-manue-4 {
    display: block;
    position: absolute;
    background: transparent;
    margin-top: 15px;
    margin-left: -15px;
}

.manue ul li:hover .sub-manue-4 ul {
    display: block;
    margin: 20px;
}

.manue ul li:hover .sub-manue-4 ul li {
    width: 150px;
    padding: 10px;
    text-align: left;
}

.container{
    justify-content: center;
    max-width: 70%;
    /* margin: auto; */
    margin: 100px 265px;
    float: center;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 150px;
}

.gallery img{
    width: 100%;
    height: auto;
}

.desc{
    padding: 2px;
    text-align: center;
}