* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to top, rgba(0, 0, 0, .5)50%, rgba(0, 0, 0, .5)50%), url(library.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
}

.container {
  /* background: linear-gradient(to top, rgba(0, 0, 0, .5)50%, rgba(0, 0, 0, .5)50%), url(library.jpg); */
  max-width: 700px;
  width: 100%;
  background-color: rgb(180, 164, 164);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  opacity: 0.7;
}


.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 40px;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}










.content form .wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .wrapper .input-data{
  width: calc(100% / 2 - 20px);
  position: relative;
  background: transparent;
}

input{
background: transparent;
}

.input-data{
margin-bottom: 40px;
}

.upload{
  padding-top: 2%;
}

.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgb(0, 0, 0);
}


.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translatey(-20px);
  font-size: 15px;
  color: #c9159c;
}

.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: rgb(0, 0, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper .input-data .underline{
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}

.input-data .underline::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #ca0699;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline::before,
.input-data input:valid ~ .underline::before{
  transform: scaleX(1);
}














































form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .category {
    width: 100%;
  }

}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}


.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}
